body {
    background-color: #007AFF !important;
}

.nav-link {
    cursor: pointer;
}

.quiz-card {
    width: 30rem;
}

.card-body {
    border-radius: 0.375rem;
}

.container {
    min-height: 100vh;
    /* background-color: #007AFF !important; */
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-color-correct {
    background-color: lightgreen;
}

.bg-color-wrong {
    background-color: lightcoral;
}